<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mynah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4247EC311980A55200BCEEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4247EC4C1980A55200BCEEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4247EC8C1981687B00BCEEFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
